@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500&display=swap%27");

html,
body,
.App,
#root {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.orange {
  color: #ff7033;
}

.blue {
  color: #088f8f;
}

.orange-bg {
  background-color: #ff7033;
}

.blue-bg {
  background-color: #088f8f;
}
